.root {
  min-width: 320px;
  max-width: 1280px;
  margin: auto;

  background-color: #fff;

  font-family: Inter, Arial, sans-serif;
  font-style: normal;
}

.link {
  text-decoration: none;
  white-space: nowrap;
  transition: opacity .2s linear;
}

.link:hover {
  cursor: pointer;
  opacity: .5;
}

.link_color_white {
  color: #fff;
}

.link_color_black {
  color: #000;
}

.link_color_green {
  color: #2be080;
}

.list {
  padding: 0;
  list-style: none;
}

.btn {
  padding: 0;
  border: none;
  transition: opacity .2s linear;
}

.btn:hover {
  cursor: pointer;
  opacity: .7;
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.227em;
  letter-spacing: -0.04em;
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 1.045em;
}

@media screen and (max-width: 680px) {
  .section-title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}
