.header__nav {
  margin: 0 auto 0 3.385em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  font-size: 0.813rem;
  line-height: 1.385em;
}

.header__nav-item {
  margin-right: .938em;
}

.header__nav-item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}