.search__checkbox-label {
  margin-top: 26px;

  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000;
}

.search__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/*.search__checkbox:checked + div {*/
/*  background-color: #a0a0a0;;*/
/*}*/

/*.search__checkbox:checked + div .circle {*/
/*  margin-left: 0;*/
/*}*/

/*.search__checkbox_visible {*/
/*  width: 34px;*/
/*  height: 10px;*/
/*  padding: 2px;*/
/*  margin-right: 14px;*/

/*  background-color: #2be080;*/
/*  border-radius: 20px;*/
/*}*/


.search__checkbox:checked + div {
  background-color: #2be080;
}

.search__checkbox:checked + div .circle {
  margin-left: auto;
}

.search__checkbox_visible {
  width: 34px;
  height: 10px;
  padding: 2px;
  margin-right: 14px;

  background-color: #a0a0a0;
  border-radius: 20px;
}

.search__checkbox_visible:hover {
  cursor: pointer;
}

.circle {
  margin-left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}


@media screen and (max-width: 680px) {
  .search__checkbox-label {
    margin-top: 30px;
    font-size: 11px;
  }
}