.footer {
  width: calc(100% - 140px);
  padding: 59px 70px 20px;

  background-color: #fafafa;

  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__project-name-wrapper {
  width: 100%;
  padding: 20px 0;

  border-bottom: 1px solid #e8e8e8;
  text-align: center;
}

.footer__project-name {
  margin: 0;
  color: #a0a0a0;
}

.footer__info {
  padding-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  margin: 0;
}

.footer__nav {
  margin: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav-item {
  margin-right: 20px;
}

.footer__nav-item:last-of-type {
  margin-right: 0;
}
