.page-error {
  width: calc(100% - 140px);
  padding: 246px 70px 60px;
}

.page-error__code {
  margin: 0;

  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #000;
}

.page-error__text {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000;
}

.page-error__btn {
  display: block;
  margin: 184px auto 0;

  background: transparent;
  color: #2be080;
}

@media screen and (max-width: 768px) {
  .page-error {
    width: calc(100% - 88px);
    padding: 408px 44px 222px;
  }
}

@media screen and (max-width: 380px) {
  .page-error {
    width: calc(100% - 20px);
    padding: 329px 10px 30px;
  }

  .page-error__code {
    font-size: 80px;
    line-height: 97px;
  }

  .page-error__text {
    margin-top: 10px;

    font-size: 12px;
    line-height: 15px;
  }

  .page-error__btn {
    margin-top: 284px;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}
